.contactus-main-container{
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
}

.contact-us-sub-container-1{
    padding: 30px;
}

.contact-us-sub-container-2{
    padding: 30px;
}
