.background{
  background-color: #fcfffd;
  background-size: cover;
  width: 100%;
  border-width: 2px;
  padding: 0px;
  border-style:inset;

}

@media screen and (min-width:767px) {
  .background-main{
    display: flex;
    justify-content: center;
    background-size: cover;

  }
}
.background-main{
  display: flex;
  justify-content: center;
  background-size: cover;
}

/* src/App.css or your custom CSS file */

